.synthwave-a {
  background: linear-gradient(172deg, #DE12E5 0%, #3B0008 29%, #532408 30%, #E5BC7C 31%, #F4C96A 40%, #F49653 57%, #F4307F 73%, #58083D 74%, #F4307F 79%, #58083D 93%, #3A0029 100%);
}

.synthwave-b {
  background: linear-gradient(172deg, #5D1B58 0%, #48003A 7%, #BC367D 15%, #620043 26%, #E7367E 27%, #F0296C 33%, #2E0031 46%, #EC275F 47%, #FF2BD4 54%, #D92F60 60%, #4C0030 61%, #A2295E 85%, #1D0738 87%, #11083F 100%);
}

.synthwave-c {
  background: linear-gradient(172deg, #040003 0%, #984998 18%, #502129 19%, #8E283D 21%, #3A0411 35%, #6D2763 36%, #D84E9C 37%, #984998 43%, #D84E9C 44%, #2F0C10 46%, #7275BA 52%, #72A6EA 53%, #18456F 67%, #85B4F2 68%, #6A90BD 74%, #5589BB 81%, #4C7FAE 87%, #4175A5 94%, #18456F 100%);
}

.synthwave-d {
  background: linear-gradient(172deg, #2D48CB 0%, #3551CE 4%, #5271E3 16%, #C5D3FF 17%, #A4ADF2 25%, #2A37A1 26%, #2E35AA 30%, #6C1796 47%, #B640BB 48%, #D54BA3 58%, #EF73C9 61%, #B84773 62%, #9D2F70 86%, #B34D97 87%, #E06F8F 100%);
}

.synthwave-e {
  background: linear-gradient(172deg, #122FA6 0%, #4A092B 9%, #F8E259 11%, #8B0A1E 28%, #28001A 30%, #3B0B1B 34%, #F8E259 36%, #EAD32E 48%, #DE9048 57%, #350131 59%, #D34E4A 65%, #C8215C 74%, #C1165D 78%, #350131 81%, #920C58 87%, #670445 91%, #110019 100%);
}

.synthwave-f {
  background: linear-gradient(172deg, #EB6B0F 0%, #FF1111 4%, #BE2912 15%, #3FA7E3 17%, #21FFFF 29%, #1BA6E1 30%, #18399E 31%, #E13FB9 39%, #D5140D 40%, #E743A5 43%, #F062B7 44%, #F062B7 73%, #D4190C 74%, #FFD711 81%, #FC00D6 82%, #AE0E86 96%, #810568 100%);
}

.synthwave-g {
  background: linear-gradient(172deg, #8E2AE2 0%, #2E168E 12%, #FF9E28 13%, #471654 22%, #742592 23%, #A529A3 48%, #622380 57%, #280826 58%, #541B79 74%, #5E1F8C 82%, #A45EDB 83%, #2B6BD1 87%, #8C3ACC 91%, #822DBE 100%);
}

.synthwave-h {
  background: linear-gradient(172deg, #F434AA 0%, #1C020C 26%, #F020CA 27%, #660951 51%, #EC10BC 52%, #9957FB 65%, #36105E 66%, #C524FA 83%, #10033D 84%, #9E3BFB 100%);
}

.synthwave-i {
  background: linear-gradient(172deg, #9FA4F6 0%, #09211F 9%, #7788E4 10%, #6FC5E4 41%, #ADA0F8 45%, #A254D0 58%, #11062B 59%, #56108C 72%, #9519B1 73%, #820FA2 74%, #610C8E 83%, #400772 100%);
}

.synthwave-j {
  background: linear-gradient(172deg, #35A7FF 0%, #080516 29%, #073BEE 30%, #70A0F4 31%, #C0D8FC 39%, #ECF7FD 48%, #00000B 57%, #7216A1 63%, #080516 65%, #A721DA 67%, #4F1279 79%, #080516 81%, #B12BE2 96%, #C542F7 100%);
}

.synthwave-k {
  background: linear-gradient(172deg, #09064B 0%, #581B78 17%, #09064B 18%, #772D8E 22%, #641E80 23%, #66258B 30%, #210055 31%, #612893 35%, #110952 36%, #4D228B 39%, #55409F 42%, #5A54AA 48%, #7B6BD6 50%, #383A85 51%, #31347B 57%, #110952 58%, #48408B 67%, #322238 68%, #F580AF 69%, #9E2987 75%, #D3549D 76%, #F8A1B4 87%, #B75A93 88%, #F3A6B8 93%, #BF6893 94%, #140655 100%);
}

.synthwave-l {
  background: linear-gradient(172deg, #A3DCCB 0%, #558E88 4%, #2E6784 13%, #3F778E 17%, #396387 22%, #253573 26%, #4D5097 27%, #282A65 35%, #51619C 36%, #5685CB 43%, #75AFEF 48%, #7FAEDA 52%, #A6C8F8 57%, #111C38 58%, #6279AD 70%, #E1D3FF 78%, #7A2C82 79%, #EF6EEB 100%);
}

.synthwave-m {
  background: linear-gradient(172deg, #C115D7 0%, #B510D6 4%, #540101 5%, #FCA10F 18%, #FFD82D 21%, #FCA10F 24%, #05253D 25%, #0E5BCE 35%, #3C8FCA 43%, #79BFE0 45%, #090D6D 46%, #000002 56%, #3B3FA9 60%, #2DBCFF 61%, #318AD3 73%, #13A7F7 74%, #352313 75%, #F29C5A 91%, #FC411C 92%, #F29C5A 100%);
}

.synthwave-n {
  background: linear-gradient(172deg, #34175A 0%, #4A3AA5 8%, #6129A8 16%, #0D0611 17%, #281133 29%, #661D86 30%, #8B74CC 39%, #8458AD 43%, #8458AD 47%, #9A51BA 52%, #B55ED3 57%, #D62CC2 60%, #BD9DF2 61%, #A93BC2 65%, #471E58 66%, #8870DE 70%, #15091C 71%, #281133 82%, #A597E2 83%, #533074 84%, #3C214C 100%);
}

.synthwave-o {
  background: linear-gradient(172deg, #AA1308 0%, #000000 21%, #9E208D 22%, #D151BA 30%, #F089E4 48%, #F1ADE8 63%, #E881A3 64%, #A34C93 65%, #380D45 69%, #1A082E 70%, #031952 71%, #41AAAF 100%);
}

.synthwave-p {
  background: linear-gradient(172deg, #000000 0%, #110707 13%, #912B6F 14%, #F7858D 26%, #CB4F78 27%, #44142E 35%, #4FAAC1 36%, #69E2EF 57%, #274F77 58%, #140B35 70%, #D773A0 71%, #E391BB 88%, #D06EA9 89%, #000000 100%);
}

.synthwave-q {
  background: linear-gradient(172deg, #000000 0%, #000000 14%, #EC405E 15%, #EC405E 21%, #310733 22%, #771176 30%, #DB2C5D 31%, #ED315A 57%, #2B0A54 58%, #711876 73%, #F23D54 74%, #C03469 95%, #30083F 96%, #341096 100%);
}

.synthwave-r {
  background: linear-gradient(172deg, #BAAC0C 0%, #7F3205 9%, #860E7E 10%, #670989 22%, #4E0494 23%, #680BB9 25%, #9D0EC0 48%, #FF19C5 49%, #BE14D4 57%, #360775 58%, #7B0B65 68%, #15002B 69%, #8C0E71 100%);
}

.synthwave-s {
  background: linear-gradient(172deg, #430087 0%, #6002A0 13%, #C316DA 14%, #C459B7 30%, #280C35 31%, #762C8B 40%, #AA30D3 41%, #552768 56%, #A122BD 57%, #E5405E 70%, #393534 74%, #080A08 75%, #201E1F 90%, #545253 91%, #3B393C 100%);
}

.synthwave-t {
  background: linear-gradient(172deg, #810B17 0%, #BC4855 4%, #E36F80 9%, #720020 10%, #720020 16%, #E74366 17%, #F95581 22%, #01110A 23%, #8D0F3F 34%, #F64885 35%, #E44683 39%, #140109 40%, #721E59 51%, #ED71B1 52%, #F472B3 57%, #C1639B 61%, #0C0008 62%, #9B116F 74%, #E656B9 75%, #F14FB8 78%, #C943A1 83%, #440A41 84%, #36003C 95%, #AD1D9E 96%, #EF37D6 100%);
}

.synthwave-u {
  background: linear-gradient(172deg, #24002D 0%, #EA43ED 22%, #E44CEF 26%, #140109 29%, #FF51F9 30%, #E147F5 35%, #D12FEE 39%, #BB11E6 43%, #A701DF 48%, #140109 51%, #9700DB 52%, #E839E6 53%, #7B00C7 61%, #7200C0 65%, #140109 70%, #6501BD 71%, #E839E6 72%, #6700B3 78%, #6302A9 83%, #140109 85%, #370381 100%);
}

.synthwave-v {
  background: linear-gradient(172deg, #2712DB 0%, #3154E4 30%, #2416DD 31%, #2F5AE7 32%, #355EEB 48%, #432AB9 49%, #E74CBA 50%, #D758CE 74%, #8E34B2 75%, #6335BE 76%, #F06AC3 90%, #D6389E 91%, #2C25E4 92%, #F178C8 100%);
}

.synthwave-w {
  background: linear-gradient(172deg, #AB70FE 0%, #FD9FE7 30%, #A506E4 31%, #FB79DD 39%, #F93BD6 48%, #51049E 49%, #FC8CD5 57%, #FDA7F5 65%, #701793 66%, #E2D8FF 73%, #FCF9FF 75%, #C0D8EA 77%, #480277 83%, #FB6DFB 84%, #7B016D 100%);
}

.synthwave-x {
  background: linear-gradient(172deg, #E1217B 0%, #15043A 22%, #670558 23%, #343A80 39%, #0A0107 40%, #230E5C 41%, #0092DB 59%, #343A80 60%, #000B32 61%, #6668AA 62%, #3D4A75 77%, #2A195F 78%, #A20E69 86%, #000000 87%, #27034B 100%);
}

.synthwave-y {
  background: linear-gradient(172deg, #6FEDF2 0%, #39254B 20%, #72155C 21%, #C83B99 22%, #FD50A1 29%, #FD699F 33%, #FF87A8 42%, #B12985 57%, #5B1554 58%, #000000 59%, #312040 90%, #895B7F 91%, #A5326D 100%);
}

.synthwave-z {
  background: linear-gradient(172deg, #8402DA 0%, #B744FE 24%, #8402DA 25%, #D24EFE 26%, #AB02BA 42%, #470001 43%, #FC794A 71%, #FDD049 72%, #FDB953 73%, #FEFCBA 100%);
}
